.git
.github
.idea
.vscode
.env
.env.*
!.env.example
!.env.docker.example
node_modules
vendor
public/build
public/hot
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
dump.rdb
npm-debug.log
yarn-error.log
.phpunit.result.cache
