.mb-head-menu{        
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 50px;
    align-items: center;
    padding: 10px;
    color: #fff
}
.folder-icon-01-mobile {
    width: 35px;
    min-width: 35px;
    height: 35px;
}
.list-image-mobile{
    max-width: 35px;
    max-height: 35px;
    min-width: 35px;
}
.item-name-list-mobile{
    margin-left:5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4;
}
.listItem-mobile{
    min-width:45%;
    height: 35px;
    width: -webkit-fill-available;
    position: relative;
    display:flex;
    align-items: center;
    padding: 8px 10px;
    user-select: none;
    color:var(--primary-color);
    width: -moz-available;
}
.footerCommandBar{
    width: 100%;
    background: rgb(0 0 0);
    display: flex;
    height: 40px;
    font-size: 12px;
    position:fixed;
    left:0;
    bottom:0;
}
.ftm-enter-active,
.ftm-leave-active {
    height: 40px;
    transition: height 0.2s;
}

.ftm-enter,
.ftm-leave-to {
    height: 0;
}

.ftmOn{
    height: calc(100% - 80px);
}
.fileNewButton{
    transition: all 0.2s;
    width: 30px; 
    height: 30px;
    background: #efefef;
}
.fileCheckBox-enter-active,
.fileCheckBox-leave-active {
    width:40px;
    opacity: 1;
    transition: all 0.2s;
}

.fileCheckBox-enter,
.fileCheckBox-leave-to {
    opacity: 0;
    width: 0px;

}
.mbSearch-enter-active,
.mbSearch-leave-active {
    width: calc(100% - 120px);
    opacity: 1;
    transition: all 0.2s;
}

.mbSearch-enter,
.mbSearch-leave-to {
    opacity: 0;
    width: 0px;

}
.mb-search{
    position: absolute;
    right: 80px;
    top: 0px;
    z-index: 4;
    max-height: 40px;
    height: 40px;
    width: calc(100% - 130px);
    overflow: hidden;
}
.mb-search>input{
    border: thin solid #737373;
    font-size: 13px;
    padding: 2px 5px;
    margin-top: 8px;
    width: -webkit-fill-available;
    border-radius: 5px;
    color: var(--primary-color);
}
.mb-header{
    display:flex;
    min-height:40px;
    width:100%;
    align-items:center;
    transition: background-color 0.2s;
    fill: var(--primary-color);
}
.memoNewButton{
    transition: all 0.2s;
    width: 35px; 
    height: 35px;
    background: #efefef;
}
.taskNewButton{
    transition: all 0.2s;
    width: 35px;
    height: 35px;
    background: #efefef;
}