.taskOuterContainerBg{
    background:var(--background-color);
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height:100%;
}
.appIcon{
    fill: var(--primary-color);
    overflow: visible;
}
.trayWrap{
    display:flex;
    width:100%;
    height:100%;
}
.trayRightContainer{
    width: 100%;
    height: 100%;
}
.taskOuterContainer{
    transition: height 0.3s ease;
    overflow: hidden
}


.collapseTasks{
    max-height: 0 !important;
    overflow: hidden;
    transition: max-height 0.15s ease;
}
.task-date-wrapper {
    box-shadow: #00000059 0 5px 15px;
    padding: 20px;
    margin: auto;
    background: var(--background-color);
    color: var(--primary-color);
    max-width: 80%;
    font-size: 14px;
    line-height: 1.5;
    max-height: 90%;
    overflow: hidden auto;
    max-height: 60vh;
    min-width: 20%;
}
.task-date {
    padding: 10px 0;
    cursor: pointer;
}
.task-date:hover{
    background: var(--bg2);
    color: var(--primary-color);
}
.task-list-wrap{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: -webkit-fill-available;

    transition: max-height 0.15s ease;
}

.reverse{
    transform: rotate(90deg);
    transition: transform .2s;
}
.task-box-inner{    
    font-size: 12px;    
    padding: 10px;
    width: 100%;
    border: solid thin transparent;
}
.task-box-container:last-of-type{    
    margin-bottom:10px;
}

.task-box-header {
    display: flex;
    width: 100%; 
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.trayRootSmall{
    width:20%;    
    top: 0;
    height: 100%;
}

.trayRoot{
    transition: width .15s, height .15s, top 0.15s;
    // position: fixed;
    right: 0;    
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    margin-left: auto;

}
.task-box-container{
    padding: 0 10px;
    position:relative;
}

.incompleted-task-box-container{
    padding:15px;
}
.taskMenuWrap{
    width: 25px;
    height: 25px;
    position: absolute;
    right: -5px;
    top: -5px;
    display: flex;
    min-width: 25px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color 0.1s;
    border-radius: 50px;
}
.taskMenuWrap:hover{
    background-color: var(--background-color);
}
.completed-badge{
    position: absolute;
    bottom: 0;
    left: 8px;
    background:rgb(100, 188, 68);
    width: 9px;
    height: 9px;
    display: flex;
    border-radius: 50%;
}

.copySuccess{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: green;
    display: flex;
    gap: 5px;
    padding: 10px;
    align-items: center;
    z-index: 2;
    color: #fff;
    font-size: 13px;
    left: 0;
    width: fit-content;
    margin: 0 auto;
}
.taskSortWrap{
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    cursor: pointer;
    z-index: 3;
    align-items: center;
}


.switchLabel{
    width: calc(100% / 5 - 30px);
    text-align: left;
}


@media screen and (max-width: 959px) {
    .switchLabel{
        width: calc(100% / 3);
        text-align: left;
        font-size: 12px;
    }


    .task-list-wrap{
        row-gap: 20px;
    }

    .task-box-inner{       
        padding: 20px;
    }
    .trayRoot{  
        right: 100%;      
        top: 0 !important;
        height: 100% !important;
        width: 100% !important;
        
    }

    .trayRightContainer{
        width: 100%;
    }
    .trayWrap{
        height:calc(100% - 40px)
    }
    .taskOuterContainerBg{
        background:var(--bg2);
        height: calc(100% - 40px);
    }
}