files:
  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize=128M
      post_max_size=128M
  "/etc/cron.d/cronjob" :
    mode: "000644"
    owner: root
    group: root
    content: |
      0 5 * * * root . /opt/elasticbeanstalk/deployment/env && /usr/bin/php54 /var/app/current/artisan schedule:run 1>> /dev/null 2>&1
commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/cronjob.bak"
    ignoreErrors: true
  01_download_node:
    command: "curl --silent --location https://rpm.nodesource.com/setup_16.x | sudo bash -"
  02_install_node:
    command: "sudo yum install -y nodejs"
  03_set_node_path:
    command: "export PATH=$PATH:/usr/bin/node"
container_commands:
  20_config_clear:
    command: "php artisan config:clear"
    leader_only: true
  21_cache_clear:
    command: "php artisan cache:clear"
  22_view_cache:
    command: "php artisan view:cache"
  23_key_generate:
    command: "php artisan key:generate"
  24_migrate:
    command: "php artisan migrate"
  30_permissions:
    command: 'chown -R ec2-user:ec2-user .'
  31_npm_install_command:
    command: 'sudo -u ec2-user npm install'
  32_npm_run_command:
    command: 'sudo -u ec2-user npm run prod'
  33_permissions:
    command: 'chown -R webapp:webapp .'
